<div class="container d-flex justify-content-center">

    {{#if msgSuccess}}

    <div class="alert alert-success alert-dismissible fade show mb-0 mt-4" role="alert"
        style="width: fit-content; position: absolute">
        {{msgSuccess}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">x</span>
        </button>
    </div>
    {{/if}}
    {{#if msgError}}
    <div class="alert alert-danger alert-dismissible fade show mb-4 mt-4" style="width: fit-content; position: absolute"
        role="alert">
        {{msgError}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">x</span>
        </button>
    </div>
    {{/if}}
</div>

<div class="container text-center">
    <div class="container-fluid rounded" id="formulario">
        <form action="addChamado" method="POST">
            <div class="row">
                <div class="form-group col-sm">
                    <label for="nome">Nome</label>
                    <input readonly type="text" class="form-control" name="nome" id="nome" value="{{nome}}">
                </div>
                <div class="form-group col-sm">
                    <label for="cargo">Cargo</label>
                    <input readonly type="text" class="form-control" name="cargo" id="cargo" value="{{cargo}}">
                </div>
            </div>
            <div class="form-group">
                <label for="salas">Sala</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-door-closed"></i></div>
                    </div>
                    <select class="form-control" name="salas" id="salas">
                        {{#each salas}}<option value="{{nome}}">{{nome}}</option>{{/each}}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="problema">Problema:</label>
                <div class="input-group">
                    <textarea required class="form-control" id="problema" name="problema"></textarea>
                </div>
            </div>
             <input type="hidden" id="idUser" name="idUser" value="{{idUser}}">
            <div class="col text-center">
                <button type="submit" class="btn btn-dark">Inserir Chamado</button>
            </div>
        </form>
    </div>
</div>